<%= simple_form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.input :qtitle , label: "Title" %>
<%= f.association :course , label_method: :name %>
<%= f.association :topic %>
<div class='wmd-panel'>
<div id='wmd-button-bar'></div>
<%= f.text_area :qtext, id: 'wmd-input', class: 'wmd-input' %>
</div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn' %>
  </div>
<% end %>


