<%- model_class = Question -%>
<% content_for :prettify_scripts do %>
<%= render partial: 'partials/prettify_include' %>
<% end %>

<% content_for :mathjax_scripts do %>
<%= render partial: 'partials/mathjax_include' %>
<% end %>
<div class="well">
<%= raw render_markdown @question.qtext %>
</div>
<h3>Submit a solution</h3>
<%= simple_form_for @solution, :html => { :class => 'form-horizontal' } do |f| %>
<div class='wmd-panel'>
<div id='wmd-button-bar'></div>
<%= f.text_area :answer, id: 'wmd-input', class: 'wmd-input' %>
</div>
<%= f.submit %>
<% end %>
<h3>Solutions</h3>
<% @question.solutions.each do |sol| %>
<p><%= sol.answer %></p>
Submitted by:
<p> <%= sol.user.uname %> </p>
<% end %>


<% if user_signed_in? && @question.user_id == current_user.id then %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              questions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(@question), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              question_path(@question),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<% end %>

<% content_for :extra_scripts do %>
<%= render partial: "partials/wmdscript" %>
<% end %>
