<% content_for :prettify_scripts do %>
	<%= render partial: 'partials/prettify_include' %>
<% end %>

<% content_for :mathjax_scripts do %>
	<%= render partial: 'partials/mathjax_include' %>
<% end %>
<% content_for :masthead_content do %>
  <%= render partial: "partials/question_masthead" %>
<% end %>

<% content_for :navbar_breadcrumbs do %>
	<ul class="nav">
<% if @qpaper then %>
	<% if @puc %>
	  <li><%= link_to root_path do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
<li><%= link_to program_university_course_path(@puc.id) do %><%= @puc.full_course_name %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
<li><%= link_to qpaper_path(@qpaper.id) do %><%= @qpaper.month+"-"+ @qpaper.year.to_s %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
<li><%= link_to "Question", '#' %></li>
	<% elsif @uc %>
	  <li><%= link_to root_path do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
<li><%= link_to university_course_path(@uc.id) do %><%= @uc.full_course_name %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
<li><%= link_to qpaper_path(@qpaper.id) do %><%= @qpaper.month+"-"+ @qpaper.year.to_s %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
<li><%= link_to "Question", '#' %></li>
	<% else %>
	<li><%= link_to root_path do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
	<li><%= link_to qpaper_path(@qpaper.id) do %><%=@qpaper.university_course.full_course_name+"-"+ @qpaper.month+"-"+ @qpaper.year.to_s %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
<li><%= link_to "Question", '#' %></li>
	<% end %>
<% else %>
	<% if @puc %>
	  <li><%= link_to root_path do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
<li><%= link_to program_university_course_path(@puc.id) do %><%= @puc.full_course_name %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
<li><%= link_to "Question", '#' %></li>
	<% elsif @uc %>
	  <li><%= link_to root_path do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
<li><%= link_to university_course_path(@uc.id) do %><%= @uc.full_course_name %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
<li><%= link_to "Question", '#' %></li>
	<% else %>
	  <li><%= link_to root_path  do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><%end %></li>
<li><%= link_to "Question", '#' %></li>
  <% end %>
<% end %>

	</ul>
<% end %>

<% @include_wmd=false %>
<div class="row-fluid">

	<div class="span4">
		<%= render partial: "partials/question_stats", locals: { question: @question }%>
		<%= render partial: "partials/syntax_help" %>

	</div>

	<div class="span8">
<% solutions=@question.solutions %>
<% if @question.solutions.size > 0 then %>
	<% solutions.each do |sol| %>
		<div class="right-bordered-box">
			<div class="heading"><h5><%= sol.user.uname %>'s Answer&nbsp;&nbsp;&nbsp; 
			<%= content_tag :div,  id: "upvotes"+sol.id.to_s do %>
				<% if AcceptedSolution.where(user_id: current_user.id, solution_id: sol.id).count ==0 then%>
					<%= form_tag '/solutions/accept', remote: true do%>
						<%= hidden_field_tag :solution_id, sol.id %>
						<button type="submit" class="btn btn-link" ><i class="icon-thumbs-up"></i>&nbsp;<%= AcceptedSolution.where(solution_id: sol.id, accept: true).count.to_s %></button>
					<% end %> 
				<% else %>
					<i class="icon-thumbs-up icon-2x"></i><%= AcceptedSolution.where(solution_id: sol.id, accept: true).count.to_s %>
				<% end %>
			<% end %></h5></div>

			<div class="bordered-box-content">
			<p><%= raw render_markdown sol.answer %></p>
  <% if sol.user_id==current_user.id  then %>
	<%= link_to "Edit answer", edit_solution_path(@solution.id) %>
   <%= link_to "Delete Answer", solution_path(@solution.id), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
  <% end %>
			</div>
		</div>
	<% end %>

<% end %>
	<% if Solution.where(user_id: current_user.id, question_id: @question.id).count == 0 then%>
			<% @include_wmd=true %>
			<div class="right-bordered-box">
				<div class="heading"><h4>Add your answer here</h4></div>
				<div class="bordered-box-content">
	<%= bootstrap_flash %>


					<%= simple_form_for @solution, url: '/questions/'+@question.id.to_s+'/addanswer', :html => { :class => 'form-horizontal' } do |f| %>
					<div class='wmd-panel'><div id='wmd-button-bar'></div><%= f.text_area :answer, id: 'wmd-input', class: 'wmd-input' %>
					</div>
					<%= submit_tag "Add Solution", class: "btn btn-success" %>
					<% end %>
				</div>
			</div>
	<% end %>
	</div>


</div>






<% content_for :extra_scripts do %>
<%= render partial: "partials/wmdscript" if @include_wmd %>
<script type="text/javascript">

$(function(){
<% solutions.each do |sol| %>
$(<%= 'upvotes'+sol.id.to_s %>).on('ajax:success',function(evt, data, status, xhr){
    $(<%= 'upvotes'+sol.id.to_s %>).html('<i class="icon-thumbs-up icon-2x"></i>'+xhr.responseText);
});
<% end %>
});
</script>
<% end %>
