<% content_for :prettify_scripts do %>
	<%= render partial: 'partials/prettify_include' %>
<% end %>

<% content_for :mathjax_scripts do %>
	<%= render partial: 'partials/mathjax_include' %>
<% end %>
<% content_for :masthead_content do %>
	<div class="hero-unit noise" id="questionBanner">
		<div class="row">
			<div class="span10">
				<div class="handwriting"><h4>Question:</h4></div><%= raw render_markdown @question.qtext %>
			</div>
			<div class="span2 handwriting">
				<% if user_signed_in? && @question.user_id == current_user.id then %>
				<div class="handwriting"><h4>Actions: </h4></div>
				<ul>
				<li>
				  <%= link_to "Edit Question",
					      edit_question_path(@question) %></li>
				<li>
				  <%= link_to "Delete Question",
					      question_path(@question),
					      :method => 'delete',
					      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
				</li>
				</ul>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<% content_for :navbar_breadcrumbs do %>
	<ul class="nav">
<% if @qpaper then %>
	<% if @puc then %>
	  <li><%= link_to root_path do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
<li><%= link_to program_path(@puc.program_id) do %><%= @puc.program.short_desc %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
<li><%= link_to program_university_course_path(@puc.id) do %><%= @puc.full_course_name %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
<li><%= link_to qpaper_path(@qpaper.id) do %><%= @qpaper.month+"-"+ @qpaper.year.to_s %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
	<% else %>
	<li><%= link_to root_path do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
	<li><%= link_to qpaper_path(@qpaper.id) do %><%=@qpaper.university_course.course.full_course_name+"-"+ @qpaper.month+"-"+ @qpaper.year %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
	<% end %>
<% else %>
	  <li><%= link_to root_path  do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><%end %></li>
  <li><%= link_to branch_path(@question.course.branch_id) do %><%= @question.course.branch.name %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
<li><%= link_to course_path(@question.course_id) do %><%= @question.course.name %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>

<% end %>

	</ul>
<% end %>
<div class="row">
	<div class="span9">
<% solutions=@question.solutions %>
<% if @question.solutions.size > 0 then %>
	<% solutions.each do |sol| %>
		<div class="bordered-box">
			<div class="heading"><h5><%= sol.user.uname %>'s Answer&nbsp;&nbsp;&nbsp; <%= content_tag :div,  id: "upvotes"+sol.id.to_s do %> <i class="icon-thumbs-up"></i><%= sol.accepted_solutions.count.to_s %> <% end %></h5></div>
			<div class="bordered-box-content">
			<p><%= sol.answer %></p>
			<%= content_tag :div, id: "accept"+sol.id.to_s do %> 
			<%= form_tag '/solutions/accept', remote: true do%>
			<%= hidden_field_tag :solution_id, sol.id %>
			<button type="submit" ><i class="icon-thumbs-up"></i></button>
			<% end %>
			<% end %>
			<%= link_to "Edit answer", edit_solution_path(sol.id) if sol.user_id==current_user.id %>
			</div>
		</div>
	<% end %>

<% end %>
			<div class="bordered-box">
				<div class="heading"><h4>Add your answer here</h4></div>
				<div class="bordered-box-content">
	<%= bootstrap_flash %>


					<%= simple_form_for @solution, url: '/questions/'+@question.id.to_s+'/addanswer', :html => { :class => 'form-horizontal' } do |f| %>
					<div class='wmd-panel'><div id='wmd-button-bar'></div><%= f.text_area :answer, id: 'wmd-input', class: 'wmd-input' %>
					</div>
					<%= submit_tag "Add Solution", class: "btn btn-success" %>
					<% end %>
				</div>
			</div>
	</div>

	<div class="span3">
		<div class="bordered-box">
			<div class="heading"><h4>Question Stats</h4></div>
			<div class="bordered-box-content">
				<% qpapers=@question.qpapers %>
				<% if !qpapers.empty? then %>
					<h5>Appeared in</h5>
					<ol>
					<% qpapers.each do |qp| %>
						<li><%= link_to qp.full_title, qpaper_path(qp.id) %></li>
					<% end %>
					</ol>
				<% end %>
			</div>
		</div>


	</div>
</div>






<% content_for :extra_scripts do %>
<%= render partial: "partials/wmdscript" %>
<script type="text/javascript">

$(function(){
<% solutions.each do |sol| %>
<% divid="accept"+sol.id.to_s %>
$(<%= 'accept'+sol.id.to_s %>).on('ajax:success',function(evt, data, status, xhr){
    console.log("inside ajax success");
    //$this.replaceWith("<h1>Replaced</h1>");
    $(<%= 'upvotes'+sol.id.to_s %>).html('<i class="icon-thumbs-up icon-2x"></i>'+xhr.responseText);
});
<% end %>
});
</script>
<% end %>
