<%- model_class = UniversityCourse -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>University</strong></dt>
  <dd><%= @university_course.university.name %></dd>
  <dt><strong>Course</strong></dt>
  <dd><%= @university_course.course.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_code) %>:</strong></dt>
  <dd><%= @university_course.course_code %></dd>
</dl>

<%= render partial: "units", object: @university_course.units %>

<%= render partial: "qpapers", object: @university_course.qpapers %>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              university_courses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_university_course_path(@university_course), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              university_course_path(@university_course),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
