<%- model_class = UniversityCourse -%>
<% content_for :pagewise_heading do %>
	<%= @university_course.course_code+" - "+@university_course.course.name %>
<% end %>
<% content_for :breadcrumbs do %>
	  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to @university_course.course.branch.name, branch_path(@university_course.course.branch_id) %> <span class="divider">/</span></li>
  <li class="active"><%= @university_course.full_course_name %></li>
<% end %>

<%= render partial: "partials/units", locals: {units: @university_course.units } %>

<div class="page-header">
            <h2>Question Papers</h2>
</div>
<%= render partial: "partials/qpapers", locals: { qpapers: @university_course.qpapers, path: university_courses_new_qpaper_path(@university_course.id) } %>

<% if admin_signed_in? then %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              university_courses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_university_course_path(@university_course), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              university_course_path(@university_course),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<% end %>
