<% content_for :bannerLayoutTitle do %>
<h2><%= @branch.name %></h2>
<% end %>


  <div class="row">
    <div class="span12">
    <%= form_tag '/selectprogram', method: :get , remote: true, class: "form-horizontal", id: "program_select_form" do %>
      <p><h4>Choose your program:</h4></p>
      <% @branch.programs.each do |p| %>
        <% if !p.nil? then %>
        <label class="radio inline stdfont">
        <%= radio_button_tag 'program_choice',p.id, p.university_id==2 %><%= p.short_desc%>
        </label>
        <% end %>
      <% end %>
    <% end %>
    </div>
    </div>
   <div class="row" > 
    <div class="span12">
        
        <p><h4>Choose a course:</h4></p>
        
        <div class="row" id="program_details">
        <div class="span5 offset3">
        <% p=Program.find_by( branch_id: @branch.id, university_id: 2)%>
        <div class="page-header centeralign"><h4><%= p.short_desc %></h4></div>
        </div>
        </div>
        <% (1..8).each do |n| %>
        <div class="row">
        <div class="span4">
        <h4>Semester <%= n %></h4>
        </div>
        </div>
        <div class="row">
        <ul class="thumbnails">
          <% p.program_university_courses.select{ |puc| puc.semester==n && puc.university_course !=nil }.each do |puc1| %>
            <li class="span3">
            <div class="thumbnail coloredThumbnail">
              <div align="center"><h5><%= link_to puc1.university_course.full_course_name, program_university_course_path(puc1.id)%></h5></div>
            </div>
            </li>
          <% end %>
        </ul>
        </div>
        <% end %>
    </div>
  </div>

<% content_for (:extra_scripts) do %>
<script>
$(function(){
$('#program_select_form').on('ajax:success',function(evt, data, status, xhr){
    $('#program_details').replaceWith(xhr.responseText);
}).on('click','input[type=radio]', function() {
    $(this).closest("form").submit();
});
});
</script>
<% end %>

