<div class="row span4 offset4">
 <%= bootstrap_flash %> 
<%= form_tag "/auth/identity/callback" do %>  
<div class="field">
    <%= label_tag :auth_key, "Email" %>  <%= text_field_tag :auth_key %>  
</div> 
<div class="field"> 
    <%= label_tag :password %>  <%= password_field_tag :password %>  
</div>  
  <p> 
    <%= link_to "forgotten password", new_password_reset_path %></p>
<p>
    <%= label_tag :remember_me %>  
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>  
  </p> 	
  <p class="button"><%= submit_tag "Log In"%></p>  
<% end %>
</div>

