<div id="search_box_stage1">
	<%= bootstrap_flash %>
	<%= form_tag '/search/find_programs_from_university_and_branch', method: :get , remote: true, class: "form-horizontal" do%>
		<div class="control-group">
			 <label class="control-label" for="university_id">Choose your university :</label>
			 <div class="controls">
				<%= select_tag "university_id", options_from_collection_for_select(University.all, "id" , "name")%>
			</div>
		</div>
		<div class="control-group">
			 <label class="control-label" for="branch_id">Choose your branch :</label>
			 <div class="controls">
				<%= select_tag "branch_id", options_from_collection_for_select(Branch.all, "id" , "name")%>
			</div>
		</div>
		<%= submit_tag "Next", class: "btn btn-danger" %>

	<% end %>
</div>
