<!-- Begin Sign In Modal -->
<div id="signin_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signin_modal_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="signin_modal_label">Sign In</h3>
  </div>
  <div class="modal-body">
	<%= bootstrap_flash %> 
	<%= form_tag "/auth/identity/callback" do %>  
		<div class="field"><%= label_tag :auth_key, "Email" %>  <%= text_field_tag :auth_key %>  </div> 
		<div class="field"><%= label_tag :password %>  <%= password_field_tag :password %>  </div>  
		<p><%= link_to "forgotten password", new_password_reset_path %></p>
		<p><%= label_tag :remember_me %><%= check_box_tag :remember_me, 1, params[:remember_me] %>  </p> 	
		<p><button class="btn btn-primary"><%= submit_tag "Log In"%></button></p>  
	<% end %>
  </div>
</div> 
<!-- End Sign In Modal -->
