<%- model_class = Program -%>
<% content_for :pagewise_heading do %>
	<%= @program.short_desc %>
<% end %>

<% content_for :navbar_breadcrumbs do %>
	<ul class="nav">
	  <li><%= link_to root_path do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
  <li><%= link_to branch_path(@program.branch_id) do %><%= @program.branch.name %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
</ul>
<% end %>


<% pucs= @program.program_university_courses.where.not(semester: nil).includes(university_course: :course).order("semester") %>
<% pucs_semwise = pucs.group_by { |puc| puc.semester } %>
<% elective_pucs = @program.program_university_courses.where(elective: true).includes(university_course: :course) %>

<div class="tabbable">
  <ul class="nav nav-tabs">
	  <li class="active"><%= link_to "Semester "+pucs_semwise.keys.first.to_s, "#sem"+pucs_semwise.keys.first.to_s , "data-toggle" => "tab" %></li>
	  <% pucs_semwise.keys[1..-1].each do |sem| %>
	  	<li><%= link_to "Semester "+sem.to_s, "#sem"+sem.to_s , "data-toggle" => "tab" %></li>
	  <% end %> 
	<li><%= link_to "Electives", "#electives" , "data-toggle" => "tab" %></li>   
  </ul>
  <div class="tab-content">
    <%= content_tag :div, class: "tab-pane active", id: "sem"+pucs_semwise.keys.first.to_s do %>
	<% pucs_semwise.values.first.each do |puc| %>
		<p><%= link_to puc.university_course.course_code+" - "+puc.university_course.course.name, university_course_path(puc.university_course_id) %></p>
	<% end %>
    <% end %>

    <% pucs_semwise.keys[1..-1].each_with_index do |sem, index| %>
      <%= content_tag :div, class: "tab-pane", id: "sem"+sem.to_s do %>
	<% pucs_semwise.values[index+1].each do |puc| %>
		<p><%= link_to puc.university_course.course_code+" - "+puc.university_course.course.name, university_course_path(puc.university_course_id) %></p>
	<% end %>
      <% end %>
    <% end %>
 
    <%= content_tag :div, class: "tab-pane", id: "electives" do %>
	<% elective_pucs.each do |puc| %>
		<p><%= link_to puc.university_course.course_code+" - "+puc.university_course.course.name, university_course_path(puc.university_course_id) %></p>
	<% end %>
    <% end %>
   
  </div>
</div>

<% if admin_signed_in? then %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              programs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_program_path(@program), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              program_path(@program),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<% end %>
