<%- model_class = Program -%>
<% content_for :masthead_content do %>
	<div class="row">
		<div class="span6">
			<h2><%= @program.short_desc %></h2>
		</div>
		<div class="span6">
		<% if !user_signed_in? then%>
			<p>Enroling is dead simple. Takes just one click to sign in using your</p>
			<p><%= link_to  user_omniauth_authorize_path(:facebook) do %>
				<i class="icon-facebook"></i> - Facebook Account
				<% end %> 
				&nbsp;Or&nbsp;
				<%= link_to  user_omniauth_authorize_path(:google_oauth2) do %>
				<i class="icon-google-plus"></i> - Gmail Account
				<% end %>
			</p>
	
			<p>Don't have these accounts? No Problem</p>
			<p><i class="icon-envelope"></i><a data-toggle="modal" data-target="#signup_modal"> Register </a> using your email id. If you have already registered click <a data-toggle="modal" data-target="#signin_modal"> here </a> to sign in.</p>
		<% end %>
		</div>
	</div>
<% end %>

<% pucs= @program.program_university_courses.where.not(semester: nil).includes(university_course: :course).order("semester") %>
<% pucs_semwise = pucs.group_by { |puc| puc.semester } %>
<% elective_pucs = @program.program_university_courses.where(elective: true).includes(university_course: :course) %>

<div class="tabbable">
  <ul class="nav nav-tabs">
	  <li class="active"><%= link_to "Semester "+pucs_semwise.keys.first.to_s, "#sem"+pucs_semwise.keys.first.to_s , "data-toggle" => "tab" %></li>
	  <% pucs_semwise.keys[1..-1].each do |sem| %>
	  	<li><%= link_to "Semester "+sem.to_s, "#sem"+sem.to_s , "data-toggle" => "tab" %></li>
	  <% end %> 
	<li><%= link_to "Electives", "#electives" , "data-toggle" => "tab" %></li>   
  </ul>
  <div class="tab-content">
    <%= content_tag :div, class: "tab-pane active", id: "sem"+pucs_semwise.keys.first.to_s do %>
	<% pucs_semwise.values.first.each do |puc| %>
		<p><%= link_to puc.university_course.course_code+" - "+puc.university_course.course.name, university_course_path(puc.university_course_id) %></p>
	<% end %>
    <% end %>

    <% pucs_semwise.keys[1..-1].each_with_index do |sem, index| %>
      <%= content_tag :div, class: "tab-pane", id: "sem"+sem.to_s do %>
	<% pucs_semwise.values[index+1].each do |puc| %>
		<p><%= link_to puc.university_course.course_code+" - "+puc.university_course.course.name, university_course_path(puc.university_course_id) %></p>
	<% end %>
      <% end %>
    <% end %>
 
    <%= content_tag :div, class: "tab-pane", id: "electives" do %>
	<% elective_pucs.each do |puc| %>
		<p><%= link_to puc.university_course.course_code+" - "+puc.university_course.course.name, university_course_path(puc.university_course_id) %></p>
	<% end %>
    <% end %>
   
  </div>
</div>

<% if admin_signed_in? then %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              programs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_program_path(@program), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              program_path(@program),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<% end %>
