<div id="feedback_modal" class="modal hide fade noise boardGreenBG" tabindex="-1" role="dialog" aria-labelledby="feedback_modal_label" aria-hidden="true">
  <div class="modal-header">
	<h3 id="feedback_modal_label" class="handwriting" >Submit your feedback<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button></h3>
  </div>
  <div class="modal-body handwriting">
			
			<%= form_tag( feedbacks_path, remote: true ) do %>
			  <%= bootstrap_flash %>
			   
			    <% if user_signed_in? then%>
				<% @feedback.name=current_user.uname %>
				<% @feedback.email=current_user.email %>
				<%= hidden_field :feedback, :name %>
				<%= hidden_field :feedback, :email %>
			    <% else %>
			    <%= text_field :feedback, :name, :required => false, label: "Your Name:" %>
			    <%= email_field :feedback, :email, :required => false, :autofocus => true, label: "Your email:" %>
			    <% end %>
			    <%= label_tag :body, "Your Suggestion/Feedback:" %>
			    <%= text_area :feedback, :body,  class: "TextBox150x400"  %>
			    <button type="submit" class="btn btn-success" >Send</button>
			<% end %>
   </div>
<div>
