	<div class="hero-unit noise" id="questionBanner">
		<div class="row">
      <div class="span4 bannerlogo">
      <%= link_to "Karpeer", root_path %>
      </div>
			<div class="span8">
				<div class="handwriting"><h4>Question: <%= @question.qtitle unless @question.qtitle.nil? %></h4></div><%= raw render_markdown @question.qtext %>
        <% if user_signed_in? && @question.user_id == current_user.id then %>
        <div class="handwriting"><h4>Actions: </h4></div>
        <div class="boardLink">
				  <%= link_to "Edit Question",
					      edit_question_path(@question) %>&nbsp;&nbsp;
				  <%= link_to "Delete Question",
					      question_path(@question),
					      :method => 'delete',
					      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
          </div>
          
        <% end %>
			</div>
		</div>
	</div>
