<% content_for :masthead_content do %>
	<div class="row">
		<div class="span4">
			<h1>Karpeer<small>  / kəˈrpēr /</small></h1> <h4> <em>Origin: &nbsp;&nbsp;</em> A Tamil verb </h4><h4> <em>Meaning: &nbsp;&nbsp;</em> <strong>An appeal to learn </strong> </h4>
		</div>
		<div class="span2">
			<p><i class="icon-check"></i> Question Papers</p>
			<p><i class="icon-check"></i> Cheat Sheets</p>
			<p><i class="icon-check-empty"></i> Solutions</p>
			<p><i class="icon-check-empty"></i> Video lectures</p>
			<p><i class="icon-check-empty"></i> Tutors</p>
		</div>
		<div class="span6">
		<% if !user_signed_in? then%>
			<p>Enroling is dead simple. Takes just one click to sign in using your</p>
			<p><%= link_to  user_omniauth_authorize_path(:facebook) do %>
				<i class="icon-facebook"></i> - Facebook Account
				<% end %> 
				&nbsp;Or&nbsp;
				<%= link_to  user_omniauth_authorize_path(:google_oauth2) do %>
				<i class="icon-google-plus"></i> - Gmail Account
				<% end %>
			</p>
	
			<p>Don't have these accounts? No Problem</p>
			<p><i class="icon-envelope"></i><a data-toggle="modal" data-target="#signup_modal"> Register </a> using your email id. If you have already registered click <a data-toggle="modal" data-target="#signin_modal"> here </a> to sign in.</p>
		<% end %>
		</div>
	</div>
<% end %>

<div class="row" id="launchBox">
	<div class="span12" id="home_search_form">
	<%# render "partials/home_search_form/stage1"%>
	</div>
</div>

 <!-- End container -->

<%= render partial: 'users/partials/signup_modal' %>
<%= render partial: 'users/partials/signin_modal' %>
<% content_for :extra_scripts do %>
	<%= render partial: "partials/home_search_form/script" %>
<% end %>
