<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,IE=9,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Karpeer" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
<link href="https://s3-ap-southeast-1.amazonaws.com/elasticbeanstalk-ap-southeast-1-480790462509/ie6.min.css" rel='stylesheet' type='text/css'>
    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%# favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
<%= javascript_include_tag "application" %>
   
<% cache(cache_programs_courses) do %> 
   <script type="text/javascript">
		        $(function() {
            $('#tree1').jstree( {
				"json_data" : { "data": <%= raw University.select([:id, :name]).where(name: "Anna University - Affliated Colleges").includes(:branches, :programs => [:program_university_courses => { :university_course => :course }]).load.map{|u| {	"data" => u.name, 
	"state" => "open", 
	"children" => u.programs.to_a.map{ |p| { 
			"data" => p.shorter_desc , 
			"children" => (1..8).map{|x| { "data" => "Semester "+x.to_s, 
							"children" => p.program_university_courses.select{ |puc| puc.semester==x && puc.university_course !=nil }.map{ |puc1| { 
								"attr"=> { "rel" => "leaf" } ,"data" => { "title" => puc1.university_course.full_course_name, "attr" => { "href" => program_university_course_path(puc1.id) } }
 } }  }} }} }}.to_json %> }, 
				"core" : { "html_titles" : true  },
				"themes" : { "theme" : "default", "url": "<%=asset_path "jstree.css" %>", "dots" : false ,"icons" : false },
				"types" : { 
						"types" : { 
						    "leaf" : {
							"select_node": function (e) {
								   document.location = e.children("a").attr("href");
								   return false;
									}
						    },
						    "default" : { 
							"select_node" : function(e) {
								            this.toggle_node(e);
								            return false;
								        } 

						    }
						} 
					     },
				"plugins" : [ "themes", "json_data", "types", "ui" ]
});
        });
    </script>

<% end %>
  </head>
  <body class="noisehome whiteOnGreen">
  
    <%= content_for?(:fb_conn_scripts) ? yield(:fb_conn_scripts) : "" %>
    <%= content_for?(:prettify_scripts) ? yield(:prettify_scripts) : "" %>
   <%= content_for?(:mathjax_scripts) ? yield(:mathjax_scripts) : "" %>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner navbarCursiveFont">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="container nav-collapse">
            <ul class="nav pull-right">

	      <% if user_signed_in? then%>
		<li class="divider-vertical"></li>
			<li class="dropdown">
			  <a id="account_dropdown" class="dropdown-toggle" data-toggle="dropdown" href="#">Your account</a>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="account_dropdown">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="/yourquestions">Your Questions</a></li>
				<li role="presentation" class="divider"></li>
			<li role="presentation"><%= link_to "Sign Out", destroy_user_session_path, {method: :delete , role: "menuitem" }  %></li>
			  </ul>
			</li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>	
    <div class="noisehome" id="homeBG">
	  <div class="row">
		<div class="span11 offset1">
			<h1>Karpeer<small>,&nbsp;&nbsp;/ kəˈrpēr /,&nbsp;&nbsp;A Tamil verb,&nbsp;&nbsp;Meaning: An appeal to learn</small></h1>
		</div>
	  </div>
	  <div class="row">
		<div class="span11 offset1">
			<h3><i class="icon-check"></i> Questions &nbsp; <i class="icon-check-empty"></i> Solutions &nbsp; <i class="icon-check-empty"></i> Notes &nbsp; <i class="icon-check-empty"></i> Video lectures &nbsp;<i class="icon-check-empty"></i> Tutors</h3>
		</div>
	</div>
	<div class="row">
		<div class="span6">
		<div id="login_box", class="handwriting bordered-box">
		<div class="heading"><h4>Join Us in one click to start contributing</h4></div>
		<div class="bordered-box-content">
		<% if !user_signed_in? then%>
			<% if flash[:waiting_for_confirmation] then %>
				 <div class="notice"><h5>IMPORTANT !!</h5> <%= flash[:notice] %></div>
			<% elsif flash[:email_registered_already] then %>
				 <div class="notice"><h5>IMPORTANT !!</h5> <%= flash[:notice] %></div>
Sign in via <p><i class="icon-facebook-sign"></i> <%= link_to  user_omniauth_authorize_path(:facebook) do %> Your Facebook Account <% end %> &nbsp;&nbsp;&nbsp;Or</p><p><i class="icon-google-plus-sign"></i> <%= link_to  user_omniauth_authorize_path(:google_oauth2) do %> Your Gmail Account <% end %></p>	
			<% else %>
				Sign in via <p><i class="icon-facebook-sign"></i> <%= link_to  user_omniauth_authorize_path(:facebook) do %> Your Facebook Account <% end %> &nbsp;&nbsp;&nbsp;Or</p><p><i class="icon-google-plus-sign"></i> <%= link_to  user_omniauth_authorize_path(:google_oauth2) do %> Your Gmail Account <% end %> &nbsp;&nbsp;&nbsp;Or</p><p><i class="icon-envelope"></i><a data-toggle="modal" data-target="#signup_modal"> Any other valid email account</a> </p>
			<% end %>
		<% else %>
		 Hi <%= current_user.uname %>! Welcome to Karpeer
		<% end %>
		</div>
		</div>
		</div>

		<div id="tree_box" class="span6 bordered-box">
			<div class="heading"><h4>START HERE <i class="icon-long-arrow-down"></i><i class="icon-long-arrow-down"></i> Questions sorted by course</h4></div>
			<div class="bordered-box-content">
			Click on your branch and select the course
				<% cache("jstree_box1") do %> 
				<div id="tree1"></div>
				<% end %>
			</div>
		</div>

	</div>

       </div>		

<div class="navbar navbar-fixed-bottom" id="lowerBar"><div class="navbar-inner"  ></div></div>

<%= render partial: 'users/partials/signup_modal' %>
           



    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
         <script type="text/javascript">
                        $(function(){if($.browser.msie&&parseInt($.browser.version,10)===6){$('.row div[class^="span"]:last-child').addClass("last-child");$('[class*="span"]').addClass("margin-left-20");$('[class*="span"][class*="offset"]').removeClass('margin-left-20');$(':button[class="btn"], :reset[class="btn"], :submit[class="btn"], input[type="button"]').addClass("button-reset");$(":checkbox").addClass("input-checkbox");$('[class^="icon-"], [class*=" icon-"]').addClass("icon-sprite");$(".pagination li:first-child a").addClass("pagination-first-child")}
                                
                                // Tooltip demo
                                $('.tooltip-demo.well').tooltip({
                                 selector: "a[rel=tooltip]",
                                 placement: "top"
                                })
                        
                                $('.tooltip-test').tooltip()
                                $('.popover-test').popover()
                        
                                // Popover demo
                                $("a[rel=popover]")
                                 .popover({
                                        placement : "top"
                                 })
                                 .click(function(e) {
                                        e.preventDefault()
                                 })
                        });</script>


  </body>
</html>
