 <%= simple_nested_form_for @program_university_course do |program_university_course_form| %>
    <div class="well linenBg">
	  <%= program_university_course_form.association :program , label_method: :short_desc %>
	  <%= program_university_course_form.input :semester %>
	  <%= program_university_course_form.input :elective %>
	  <%= program_university_course_form.input :credits %>
	<div class="well honeyDewBg">
	<div class="row"><div class="span9">Select an existing university course</div></div>
	  <%= program_university_course_form.association :university_course, label_method: :full_course_name  %>
			</div><div class="well honeyDewBg">
			<div class="row"><div class="span9">OR create a new university course</div></div>
		   <%= program_university_course_form.simple_fields_for :university_course do |university_course_form| %>
			  <%= university_course_form.input :course_code %>
			  <%= university_course_form.association :university , label_method: :name %>
			<div class="well bisqueBg">
				 <div class="row"><div class="span9">Select an existing  course</div></div>
				  <%= university_course_form.input :course_id , collection: Course.all, label_method: :name , value_method: :id %>
			</div><div class="well bisqueBg">
				  <div class="row"><div class="span9">OR create a course</div></div>
				  <%= university_course_form.simple_fields_for :course do |course_form| %>
					    <%= course_form.input :name  %>
					    <%= course_form.input :branch_id, collection: Branch.all, label_method: :name , value_method: :id %>
				  <% end %> <%# course_form ends %>
			</div><div class="well bisqueBg">
				  <div class="row"><div class="span9">Add Units</div></div>
					
					  <%= university_course_form.simple_fields_for :units do |unit_form| %>
						   <div class="well aliceBlueBg">
						    <%= unit_form.input :unit_number, :as => :hidden, :input_html => { :value => unit_form.index+1 } %>
						    Curriculum for Unit <%= unit_form.index+1 %>: 
						    <%= unit_form.text_area :unit_curriculum , class: "fullWidth" %>
						   </div>
					  <% end %> <%# unit_form ends %>
					  
			</div><%# well ends %>  
		 <% end %> <%# university_course_form ends %> 
		</div><%# well ends %>  
    </div> 
  <div class="form-actions">
    <%= program_university_course_form.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                program_university_courses_path, :class => 'btn' %>
  </div>
  <% end %> <%# program_university_course_form ends %>  


