<% content_for :bannerLayoutTitle do %>
<%= @program_university_course.full_course_name %>
<% end %>

<% content_for :mathjax_scripts do %>
<%= render partial: 'partials/mathjax_include' %>
<% end %>
<% content_for :prettify_scripts do %>
<%= render partial: 'partials/prettify_include' %>
<% end %>


<div class="row" style="padding-bottom:20px;">
  <div class="span6 stdfont">
  <i class="icon-angle-left"></i> <%= link_to @program_university_course.program.branch.name, branch_path(@program_university_course.program.branch.id) %>
  </div>
</div>
<div class="row">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to "Curriculum", "#curriculum", "data-toggle"=>"tab" %></li>
    <li><%= link_to "Question Papers", "#questionpapers", "data-toggle"=>"tab" %></li>
    <li><%= link_to "Questions", "#questions", "data-toggle"=>"tab" %></li>
  <% if @program_university_course.university_course.textbooks.count > 0 then %>
    <li><%= link_to "Text Books", "#textbooks", "data-toggle"=>"tab" %></li>
  <% end %>
  </ul>
</div>
<div class="row">
<!--
      <div class="span1 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="100">
          <li class="active"><a href="#curriculum"><i class="icon-chevron-right"></i>Curriculum</a></li>
          <li><a href="#questionpapers"><i class="icon-chevron-right"></i>Question Papers</a></li>
          <li><a href="#questions"><i class="icon-chevron-right"></i>Questions</a></li>
          <li><a href="#textbooks"><i class="icon-chevron-right"></i>Text Books</a></li>
        </ul>
      </div>
-->
<div class="tab-content">

<div class="tab-pane active" id="curriculum">
<!--
  <div class="span2">
   <div class="page-header centeralign roboto stdfont" ><h3>Curriculum</h3></div>
  </div>
</div>
<div class="row">
-->
  <div class="roboto stdfont">
        <% cache(["v1curriculum",@program_university_course.university_course]) do%>
          <% units = @program_university_course.university_course.units.order("unit_number") %>
          <% if units.length > 0 then %>
            <ol>
              <% units.each do |unit| %>
                <li>
                Unit <%= unit.unit_number %>
                </li>
                <%= unit.unit_curriculum %>
              <% end %>
            </ol>
          <% end %>
        <% end %>
  </div>
  
</div>

<div class="tab-pane" id="questionpapers">
<!--
<div class="span3">
<div class="page-header centeralign roboto stdfont"><h3>Question Papers</h3></div>
</div>
</div>
<div class="row">
-->
<div class="roboto stdfont">  
		  <% cache(["v2", @program_university_course.university_course]) do%>
			  <% qpapers = @program_university_course.university_course.qpapers %>
			  <% if qpapers.length > 0 then %>
			  <ol>
			  <% qpapers.each do |qp| %>
			  <li>
			  <%= link_to qp.title+" "+qp.month+" "+qp.year.to_s, qpaper_path(qp.id)+"?puc="+@program_university_course.id.to_s %>
			
			  </li>
			  <% end %>
			  </ol>
			  <% else %>
			  There are no question papers yet for this course.
			  <% end %>
        <!--
			  <div id="underlined-h5"><h5>Upload a question paper</h5></div>
			  <%= bootstrap_flash %>
			  <%= simple_form_for :qpaper_file, :url => qpaper_files_path, :html => { :multipart => true } do |form| %>
			    <%= form.file_field :uploaded_file %>
			    <%= form.input :university_course_id, :as => :hidden, :input_html => { :value => @program_university_course.university_course_id } %>
			    <%= submit_tag "Upload", class: "btn btn-success" %>
			  <% end %>
        -->
		  <% end %>
 </div>
</div>
<div class="tab-pane" id="questions">
<!--
<div class="span2">
<div class="page-header centeralign roboto stdfont" ><h3>Questions</h3></div>
</div>
</div>
<div class="row">
-->
  <div class="roboto stdfont">
	    <% cache(["v7",@program_university_course.university_course.course]) do%>
		    <div class="underlinedlink"><%= link_to "Add a question" , new_question_path+"?course="+@program_university_course.university_course.course_id.to_s %></div> 
			    <% if Question.where(course_id: @program_university_course.university_course.course_id).where(standalone: true).count > 0 then %>
				    <h5>Questions added by Users</h5>
				    <ol>
				    <% Question.where(course_id: @program_university_course.university_course.course_id).where(standalone: true).each do |q| %>
            <% cache(["v4",q]) do %>
				    <li><div class="thinlink"><%= link_to (q.qtitle || q.qtext), question_path(q.id)+"?puc="+@program_university_course.id.to_s %></div></li>
            <% end %>
				    <% end %>
				    </ol>
			    <% end %>
			    <% if Question.where(course_id: @program_university_course.university_course.course_id).where(standalone: false).count > 0 then %>
				    <h5>Questions obtained from question papers</h5>
				    <% questions = Question.includes(:examquestions).where(course_id: @program_university_course.university_course.course_id).where(standalone: false).order('examquestions.mark ASC').group_by { |q| q.examquestions.first.mark } %>
				    <% questions.keys.each do |mark| %>
				    <h6><%= mark %> Marks</h6>
				    <ol>
				    <% questions[mark].each do |q| %>
            <% cache(["v4",q]) do %>
				     <li><div class="thinlink"><%= link_to (q.qtitle || q.qtext), question_path(q.id)+"?puc="+@program_university_course.id.to_s %></div></li>
            <% end %>
				    <% end %>
				    </ol>
				    <% end %>
			    <% end %>
    <%# render partial: "partials/questions", locals: { questions: @program_university_course.university_course.course.questions } %>
	    <% end %>
  </div>
</div>
<% if @program_university_course.university_course.textbooks.count > 0 then %>
  <div class="tab-pane" id="textbooks">
<!--
  <div class="span2">
    <div class="page-header centeralign roboto stdfont" ><h3>Text Books</h3></div>
  </div>
  </div>
<div class="row">
-->
  <div class="roboto stdfont">
        
              <ol>
                <% @program_university_course.university_course.textbooks.each do |tb| %>
                  <li><h5><%= tb.name %></h5></li>
                  <div class="row-fluid">
                  <div class="span4">
                  <% if !tb.flipkart_affrid.nil? then %>
                  <iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=<%= raw tb.flipkart_affrid %>" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
                  <% end %>
                 <% if !tb.amzasin.nil? then %>
                <iframe src="http://ws-in.amazon-adsystem.com/widgets/q?t=karpeer-21&o=31&p=8&l=as1&asins=<%= raw tb.amzasin %>&ref=qf_sp_asin_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr&MarketPlace=IN&ServiceVersion=20070822&WS=1&ID=8042_ProductLink&Operation=GetProductLink&" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                  <% end %>
                  </div>
                  <div class="span8">
                  <% if user_signed_in? then %>
                    <%= content_tag :div,  id: "self_book_offer"+tb.id.to_s do %>
                    <a data-toggle="modal" data-target="#offer_form_modal<%= tb.id.to_s %>" > Click here to place an offer</a>
                    <% end %>
                    <%= render partial: "text_book_sale_offers/offer_form", locals: {textbook: tb} %>
                  <% else %>
                  If you have copies of this book, you can advertise them for sale here. To do so, please <%= link_to "login", new_user_session_path %> first.
                  <% end %>
                  <ol>
                  <% tb.text_book_sale_offers.each do |tbso| %>
                    <li>
                      <p><%= tbso.user.uname %> offers to sell this book for <%= number_to_currency(tbso.price, unit: "Rs.") %></p>
                      <p>Contact Details: <%= tbso.contact_detail %></p>
                    </li>
                  <% end %>
                  </ol>
                  </div>
                  </div><!-- row-fluid -->
                <% end %>
              </ol>
        
   </div>
  </div>
<% end %>
</div>
</div>







<% content_for :extra_scripts do %>
<script type="text/javascript">

$(function(){
<% @program_university_course.university_course.textbooks.each do |tb| %>
$('<%="#offer_form_modal"+tb.id.to_s %>').on('ajax:beforeSend',function(evt, data, status, xhr){
       $('<%= "#offer_form_modal"+tb.id.to_s %>').modal('hide');
}).on('ajax:success',function(evt, data, status, xhr){
    $('<%= "#self_book_offer"+tb.id.to_s %>').html(xhr.responseText);
});
<% end %>
});
</script>
<% end %>
