<%- model_class = ProgramUniversityCourse -%>

<% content_for :pagewise_heading do %>
	<%= @program_university_course.university_course.course_code+" - "+@program_university_course.university_course.course.name %>
<% end %>
<% content_for :breadcrumbs do %>
	  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to @program_university_course.program.branch.name, branch_path(@program_university_course.program.branch_id) %> <span class="divider">/</span></li>
<li><%= link_to @program_university_course.program.short_desc, program_path(@program_university_course.program_id) %> <span class="divider">/</span></li>
  <li class="active"><%= @program_university_course.full_course_name %></li>
<% end %>

<%# render partial: "partials/units", object: @program_university_course.university_course.units %>
<div class="page-header">
            <h2>Question Papers</h2>
</div>
<%= render partial: "partials/qpapers", locals: { qpapers: @program_university_course.university_course.qpapers, path: university_courses_new_qpaper_path(@program_university_course.university_course_id) } %>

<% if admin_signed_in? then %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              program_university_courses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_program_university_course_path(@program_university_course), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              program_university_course_path(@program_university_course),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<% end %>
