<%- model_class = ProgramUniversityCourse -%>

<dl class="dl-horizontal">
  <dt><strong>Course code:</strong></dt>
  <dd><%= @program_university_course.university_course.course_code %></dd>
  <dt><strong>Course name:</strong></dt>
  <dd><%= @program_university_course.university_course.course.name %></dd>
  <dt><strong>Offered as a course in </strong></dt>
  <dd><%= @program_university_course.program.short_desc %></dd>

  <dt><strong><%= model_class.human_attribute_name(:semester) %>:</strong></dt>
  <dd><%= @program_university_course.semester %></dd>
  <dt><strong>Credits:</strong></dt>
  <dd><%= @program_university_course.credits %></dd>
  <dt><strong><%= model_class.human_attribute_name(:elective) %>:</strong></dt>
  <dd><%= @program_university_course.elective %></dd>
  <dt><strong>Course type:</strong></dt>
  <dd><%= @program_university_course.university_course.course.practical ? "Practical" : "Theory" %></dd>
</dl>

<%= render partial: "partials/units", object: @program_university_course.university_course.units %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              program_university_courses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_program_university_course_path(@program_university_course), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              program_university_course_path(@program_university_course),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
