<%= simple_nested_form_for @qpaper, :html => { :class => 'form-horizontal' } do |f| %>
	<div class="well">
	  <%= f.input :year , collection: 1980..2020 %>
	  <%= f.input :title %>
	  <%= f.association :course %>
	  <%= f.input :official %>
	</div>
	<%= f.simple_fields_for :examquestions, @qpaper.examquestions  do |eq| %>
		<div class="well">
			<%= eq.input :qnumber, label: "Question Number:"  %>
			<%= eq.input :qnumber, label: "Question Number:"  %>
			<%= eq.input :mark, label: "Mark:"  %>
			<%= eq.input :id, :as => :hidden, :input_html => { :value => eq.object.id } %>
		  	
			
			<% if eq.object.question.user_id == @current_user.id %>
			   <%= eq.simple_fields_for :question do |q| %>
				    <%= q.input :id, :as => :hidden, :input_html => { :value => q.object.id } %>
				    <%= q.input :qtext, label: "Question:"  %>
				    <%= q.input :qdesc, label: "Question Details:"  %>
			   <% end %> 
			<% else %>
				<%= eq.association :question , label_method: :qtext %>
			<% end %>
    		</div> 
	<% end %> 
	<p><%= f.link_to_add( :examquestions, model_object: lambda { eq=Examquestion.new; eq.question=Question.new; return eq; }, , class: "btn btn-primary" ) do%>
		Add Question
	<% end %></p>
	<div class="form-actions">
		<%= f.button :submit, :class => 'btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), qpapers_path, :class => 'btn' %>
	</div>
<% end %>
