<%- model_class = Qpaper -%>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th> Title </title>
      <th>Year</th>
      <th>Course</th>
      <% if admin_signed_in? then %>
      	<th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @qpapers.each_with_index do |qpaper, index| %>
      <tr>
        <td><%= index+1 %></td>
	<td><%= link_to qpaper.title + " - " + qpaper.month, qpaper_path(qpaper.id) %></td>
        <td><%= qpaper.year %></td>
        <td><%= qpaper.university_course.try(:full_course_name) %></td>
	<% if admin_signed_in? then %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_qpaper_path(qpaper), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      qpaper_path(qpaper),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_qpaper_path,
            :class => 'btn btn-primary' %>
