<% content_for :mathjax_scripts do %>
<%= render partial: 'partials/mathjax_include' %>
<% end %>
<% content_for :prettify_scripts do %>
<%= render partial: 'partials/prettify_include' %>
<% end %>

<% content_for :pagewise_heading do %>
<%= @qpaper.full_title %>&nbsp;&nbsp;<%= @qpaper.university_course.try(:full_course_name) %>
<% end %>


<% content_for :navbar_breadcrumbs do %>
<ul class="nav">
<% if @puc then %>
	
	  <li><%= link_to root_path do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
<li><%= link_to program_university_course_path(@puc.id) do %><%= @puc.full_course_name %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
<li><%= link_to @qpaper.full_title, '#' %></li>
<% else %>
	  <li><%= link_to root_path  do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><%end %></li>
<li><%= link_to university_course_path(@qpaper.university_course_id) do %><%= @qpaper.university_course.full_course_name %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
<li><%= link_to @qpaper.full_title, '#' %></li>

<% end %>
	</ul>
<% end %>


<div class="right-bordered-box">
<div class="bordered-box-content">
<table class="table table-condensed">

<thead>
<tr>
<th>Q.No.</th><th>Question</th><th>Marks</th><th>Solutions</th>
</tr>
</thead>

<tbody>
<% @qpaper.examquestions.order("qnumber ASC, subquestion_no ASC").includes(:question).each do |eq| %>

	<% if !eq.subquestion_no.nil? && eq.subquestion_no > 1 && ( eq.subsubqno == 1 || eq.subsubqno.nil? ) then %>
	<tr><td></td><td>OR</td><td></td><td></td></tr>
	<% end %>
	  <tr>
		<td><%= eq.qnumber.to_s %><%= eq.subquestion_no.nil? ? "" : "."+('a'.ord+eq.subquestion_no-1).chr %><%= eq.subsubqno.nil? ? "" : "."+roman_numeral(eq.subsubqno) %></td>
		  <td><%= raw render_markdown eq.question.qtext %></td>
		  <td><%= eq.mark.to_s %></td>
		 <% pucid = "nil" %>
		 <% pucid = @puc.id.to_s unless @puc.nil? %>
		  <td><%= link_to question_path(eq.question_id) + "?qpaperid="+@qpaper.id.to_s+"&puc="+pucid, class: "btn btn-success" do %>
			<i class="icon-unlock"></i>
		<% end %></td>
	  </tr>
<% end %>
</tbody>
</div>
</table>
</div>



