<%- model_class = Qpaper -%>

<div class="row">
	<div class="span4"> Year: <%= @qpaper.year %></div>
	<div class="span4">Institution: <%= @qpaper.institution %></div>
	<div class="span4">Course: <%= @qpaper.course.name %></div>
</div>

<% @qpaper.examquestions.order("qnumber").includes(:question).each do |eq| %>
<div class="row">
  <div class="span12"><%= eq.qnumber %> <%= eq.question.qtext %></div>
</div>
<% end %>



<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              qpapers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_qpaper_path(@qpaper), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              qpaper_path(@qpaper),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
