<% content_for :mathjax_scripts do %>
<%= render partial: 'partials/mathjax_include' %>
<% end %>
<% content_for :prettify_scripts do %>
<%= render partial: 'partials/prettify_include' %>
<% end %>
<% content_for :title do %>
<%= "Karpeer - "+@qpaper.university_course.full_course_name+" - "+@qpaper.full_title %>
<% end %>

<% content_for :pagewise_heading do %>
<%= @qpaper.full_title %>&nbsp;&nbsp;<%= @qpaper.university_course.try(:full_course_name) %>
<% end %>


<% content_for :navbar_breadcrumbs do %>
<ul class="nav">
<% if @puc then %>
	
	  <li><%= link_to root_path do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><% end %></li>
<li><%= link_to program_university_course_path(@puc.id) do %><%= @puc.full_course_name %> &nbsp;&nbsp;<i class="icon-double-angle-right"></i> <% end %></li>
<li><%= link_to @qpaper.full_title, '#' %></li>
<% else %>
	  <li><%= link_to root_path  do %>Home &nbsp;&nbsp;<i class="icon-double-angle-right"></i><%end %></li>
    <li><%= link_to @qpaper.full_title, '#' %></li>

<% end %>
	</ul>
<% end %>


<div class="right-bordered-box">
<div class="bordered-box-content">
<table class="table table-condensed">

<thead>
<tr>
<th>Q.No.</th><th>Question</th><th>Marks</th>
</tr>
</thead>

<tbody>
<% cache [ "v4" , qpaper_questions(@qpaper) ] do%>
<% @qpaper.examquestions.order("qnumber ASC, subquestion_no ASC").includes(:question).each do |eq| %>
	<% cache [ "v4", eq.question ] do %>
		<% if !eq.subquestion_no.nil? && eq.subquestion_no > 1 && ( eq.subsubqno == 1 || eq.subsubqno.nil? ) then %>
		<tr><td></td><td>OR</td><td></td></tr>
		<% end %>
		  <tr>
			<td><%= eq.qnumber.to_s %><%= eq.subquestion_no.nil? ? "" : "."+('a'.ord+eq.subquestion_no-1).chr %><%= eq.subsubqno.nil? ? "" : "."+roman_numeral(eq.subsubqno) %></td>
			  <td><div class="customLink">
        <% if @puc then %>
          <%=link_to raw(render_markdown(eq.question.qtext)), question_path(eq.question_id)+"?puc="+@puc.id.to_s+"&qpaper="+@qpaper.id.to_s %>
        <% else %>
          <%=link_to raw(render_markdown(eq.question.qtext)), question_path(eq.question_id)+"?qpaper="+@qpaper.id.to_s %>
        <% end %>
        </div></td>
			  <td><%= eq.mark.to_s %></td>
			 <% pucid = "nil" %>
			 <% pucid = @puc.id.to_s unless @puc.nil? %>
		  </tr>
	 <% end %>
<% end %>
<% end %>
</tbody>

</table>
</div>
</div>



