<div class="row">
	<div class="span4"> Year: <%= @qpaper.year %></div>
	<div class="span4">Course: <%= @qpaper.university_course.try(:full_course_name) %></div>
</div>
<% prev_qn = 0 %>
<% prev_sqn = nil %>
<% subq_id = 'a' %>
<table class="table">
<thead>
<tr>
<th>Q.No.</th><th>Question</th><th>Marks</th>
</tr>
</thead>
<tbody>
<% @qpaper.examquestions.order("qnumber ASC, subquestion_no ASC").includes(:question).each do |eq| %>
	  <tr>
		  <% if eq.qnumber == prev_qn then %>
		    <% if eq.subquestion_no == prev_sqn %>
			  <td><%= subq_id = subq_id.next %><%= "." %></td><td><%= raw(render_markdown(eq.question.qtext)) %> </td><td><%= eq.mark.to_s %></td>
		    <% else %>
			<td></td><td><h4>Or</h4></td><td></td></tr>
			<tr>
			  <td><%= subq_id = 'a' %><%= "." %></td><td><%= raw(render_markdown(eq.question.qtext)) %> </td><td><%= eq.mark.to_s %></td>
		    <% end %>
		  <% else %>
		      <td><%= eq.qnumber %><%= eq.subquestion_no.nil? ? "" : subq_id = 'a' %><%= "." %></td><td><%= raw(render_markdown(eq.question.qtext)) %> </td><td><%= eq.mark.to_s %></td>
		  <% end %>
	  </tr>
  	  <% prev_qn=eq.qnumber %>
	  <% prev_sqn = eq.subquestion_no %>
<% end %>
</tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              qpapers_path, :class => 'btn'  %>
<% if current_user == @qpaper.user %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_qpaper_path(@qpaper), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              qpaper_path(@qpaper),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>
</div>


