<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Karpeer" %></title>
    <meta property="og:title" content="Karpeer" />
    <meta property="og:type" content="Education Engineering Question Bank e-learning" />
    <meta property="og:url" content="www.karpeer.com" />
    <meta property="og:image" content= "https://s3-ap-southeast-1.amazonaws.com/elasticbeanstalk-ap-southeast-1-480790462509/ka2.png" />
    <meta property="og:site_name" content="Education Engineering Question Bank e-learning" />

    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
<%= favicon_link_tag 'ka2.png', :rel => 'shortcut icon' %>
    <%= javascript_include_tag "application" %>
<% if @show_left_navigation then %>
	<%# render partial: "partials/jstree"%>
<% end %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%# favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  </head>
  <% @body_options ||={} %>
  <%= content_tag :body,@body_options do %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=150980305103487";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner navbarCursiveFont">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%# link_to "Karpeer", root_path, class: "brand" %>
          <div class="container nav-collapse">
            <ul class="nav pull-right">
		<li class="divider-vertical"></li>
			      <li><%= link_to "Home", root_path  %></li>
		<li class="divider-vertical"></li>
	      <% if user_signed_in? then%>
      <%= render partial: "partials/account_dropdown" %>
			<li class="divider-vertical"></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="row" id="masthead">	
	
<% if content_for? :masthead_content then %>
		<%= yield :masthead_content %>
<% else %>
	<div class="hero-unit" id="bannerLayout">
	<div class="row" id="bannerLayoutTitle">		
    <div class="span9 offset3">
     <%= content_for?(:bannerLayoutTitle) ? yield(:bannerLayoutTitle) : "" %>
    </div>
	</div>
	</div>
<% end %>
			
</div>




<div id="contentbox" class="container-fluid">

<%= yield %>

</div> <!-- contentbox -->
           
<%= render partial: 'users/partials/signup_modal' %>


    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<%= render partial: "partials/jstree2"%>
    <%= content_for?(:fb_conn_scripts) ? yield(:fb_conn_scripts) : "" %>
   <%= content_for?(:mathjax_scripts) ? yield(:mathjax_scripts) : "" %>
<%= content_for?(:prettify_scripts) ? yield(:prettify_scripts) : "" %>

<%= content_for?(:extra_scripts) ? yield(:extra_scripts) : "" %>
<% if user_signed_in? then%>
<script type="text/javascript">
analytics.identify(<%= current_user.id %>, {
    email: <%= current_user.email %>,
    firstName: <%= current_user.uname %>,
});
</script>
<% end %>
  <% end %>
</html>
